<add name="DBCuestionario" connectionString="metadata=res://*/CuestionarioModel.csdl|res://*/CuestionarioModel.ssdl|res://*/CuestionarioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Cuestionario;persist security info=True;user id=sa;password=paried0428;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />