<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" /> 
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="CommandTimeOut" value="10000"/>
    <add key="SMTPServer" value="mail.bluekey.com.mx"/>
    <add key="MailFrom" value="mauricio.miranda@bluekey.com.mx"/>
  </appSettings>
  <connectionStrings>
        <!--<add name="DBCuestionario" connectionString="metadata=res://*/CuestionarioModel.csdl|res://*/CuestionarioModel.ssdl|res://*/CuestionarioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Cuestionario;persist security info=True;user id=sa;password=paried0428;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
        <add name="CuestionarioConnectionString" connectionString="Data Source=(local);Initial Catalog=Cuestionario;User ID=sa;Password=paried0428;" providerName="System.Data.SqlClient"/>
        <add name="CuestionarioEntities" connectionString="metadata=res://*/DBCuestionario.csdl|res://*/DBCuestionario.ssdl|res://*/DBCuestionario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Cuestionario;persist security info=True;user id=sa;password=paried0428;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>